"*":
  core:
    customFileTypes:
      "source.ini": [
        ".flowconfig"
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "metrics"
      "haskell-grammar"
      "language-thrift"
      "tool-bar"
      "tree-view"
      "linter"
      "vim-mode"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      "*.map"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "build"
      "dist"
      "node_modules"
      "release"
    ]
    telemetryConsent: "limited"
    warnOnLargeFileLimit: 8
  editor:
    fontSize: 17
    invisibles: {}
    preferredLineLength: 120
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "d8f70a2f-75e3-bc57-d7d0-cf3061ff0e92"
  "language-babel":
    suppressTranspileOnSaveMessages: true
  linter:
    errorPanelHeight: 48
  "linter-js-standard":
    honorStyleSettings: true
    showEslintRules: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-ctags":
      disableWithHack: false
    "nuclide-file-tree":
      hideIgnoredNames: false
      revealFileOnSwitch: true
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-health": {}
    "nuclide-hg-repository": {}
    "nuclide-home":
      showHome: false
    "nuclide-notifications": {}
    "nuclide-ocaml": {}
    "nuclide-output": {}
    use:
      "nuclide-arcanist": false
      "nuclide-buck-files": false
      "nuclide-buck-toolbar": false
      "nuclide-hack": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-hhvm-toolbar": false
      "nuclide-language-hack": false
      "nuclide-source-control-side-bar": false
      "nuclide-task-runner": false
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      printWidth: 120
      semi: false
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tool-bar":
    position: "Right"
  welcome:
    showOnStartup: false
