"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      "*.map"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "build"
      "dist"
      "node_modules"
      "release"
    ]
    telemetryConsent: "no"
    warnOnLargeFileLimit: 8
  editor:
    fontSize: 17
    preferredLineLength: 120
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "3c864202-5b51-47d8-9311-b5e730049775"
  "linter-ui-default":
    showPanel: true
  nuclide:
    "nuclide-file-tree":
      hideIgnoredNames: false
      revealFileOnSwitch: true
    "nuclide-flow":
      canUseFlowBin: true
    "nuclide-home":
      showHome: false
    use:
      "nuclide-arcanist": false
      "nuclide-buck-files": false
      "nuclide-buck-toolbar": false
      "nuclide-hack": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-hhvm-toolbar": false
      "nuclide-language-hack": false
      "nuclide-source-control-side-bar": false
      "nuclide-task-runner": false
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      printWidth: 120
      semi: false
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "green"
    rightEditorColor: "red"
    syncHorizontalScroll: true
  "tool-bar":
    position: "Right"
  welcome:
    showOnStartup: false
